#main-winner,
#main-quiz,
#main-signin{
  background-image: url('../Assets/main-background.png');
  background-size: cover;
  background-position: bottom;
}
#layout::-webkit-scrollbar{
  width: .5rem;
}
#layout::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 6px;
}